#buttons 
.parkBtn   {
    margin: 10px;
}

.test {
    margin: 30px;
}
.gif {
    margin: 8px;
}
.container {
    background: lightgreen;
}
#ideas {
    font-size: 10px;
}
.nav-item {
    font-size: 40px;
}
